@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
#block{
    width: 60%;
    height: 500px;
    background: url("./map.jpg")center no-repeat;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}
#vvod{
    background: rgb(9, 30, 122);
    border-radius: 20px;
    opacity: .7;
    outline: none;
    border: none;
    width: 50%;
    margin: 10px auto;
    display: block;
    padding: 12px 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#btn_up{
    margin: 10px auto;
    display: block;
    width: 30%;
}
#btn_up button{
    background-color: rgb(78, 78, 245);
    border-radius: 10px;
    padding: 7px 15px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
#min{
    font-size: 13px;
    color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    opacity: 0;
    transition: all .4s linear;
    background: url("./namep.png")center no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 5px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
#start{
    margin-right: 50px;
}
#color{
    margin-right: 100px;
}